/* ---------- Global ---------- */

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 11px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: rgba(24, 24, 37, 0.85);
    color: #cdd6f4;
}

/* ---------- Shared Pill Style ---------- */

#clock,
#bluetooth,
#network,
#battery {
    color: #1e1e2e; /* base */
    padding: 2px 10px;
    border-radius: 12px;
    margin: 3px 2px;
}

/* ---------- Workspaces ---------- */

#workspaces {
    background-color: transparent;
    margin: 2px;
    padding: 0;
}

#workspaces button {
    color: #585b70; /* surface2 */
    padding: 2px 8px;
    margin: 0 2px;
    border-radius: 12px;
}

/* workspace contains windows */
#workspaces button:not(.empty) {
    color: #fab387; /* peach */
}

/* active workspace */
#workspaces button.active {
    background-color: #89b4fa; /* blue */
    color: #1e1e2e;
    padding: 2px 12px;
}

/* ---------- Modules ---------- */

/* Clock */
#clock {
    background-color: #cba6f7; /* mauve */
}

/* Bluetooth */
#bluetooth {
    background-color: #f9e2af; /* yellow */
}

#bluetooth.off {
    background-color: #9399b2; /* overlay2 */
}

/* Network */
#network {
    background-color: #a6e3a1; /* green */
}

#network.disconnected {
    background-color: #f38ba8; /* red */
}

/* Battery */
#battery {
    background-color: #f38ba8; /* red */
}

#battery.charging {
    background-color: #a6e3a1; /* green */
}

#battery.warning:not(.charging) {
    background-color: #fab387; /* peach */
}
